body {

    margin: 0;
    padding: 0;
    background: url(lb.jpg); 
    background-size: cover;
    background-position: center; 
    font-family: sans-serif;
    }
    
    .blur{
           
           background: rgba(0,0,0,0.6);
           position: absolute;
           top: 0px;
           right: 0;
           left: 0;
           bottom: 0;
    }

    .loginbox{
    
    width: 320px;
    height: 426px;
    background: rgba(63, 60, 60,0.911);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); 
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    }

    .avatar{

        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute; top: -50px;
        left: calc(50% - 50px);
        margin: 0;
        padding: ee 26px; 
        text-align: center;
        font-size: 22px;
        border-color: #000;
        }

 h1{
        margin: 0;
        padding: 50px; 
        text-align: center;
        font-size: 22px;
 }

.Loginbox p{
margin: 0;
padding: 0;
font-weight: bold;
}

.Loginbox input{
width: 100%;
margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
border: none;
border-bottom: 1px solid #fff; 
background: transparent;
outline: none; 
height: 40px;
color: #fff; 
font-size: 16px;
}


.loginbox input[type="submit"]
{
 border: none;
 outline: none;
 height: 40px; 
 background: #fb2525; 
 color: #fff; 
 font-size: 18px; 
 border-radius: 20px;
}

.Loginbox input[type="submit"]:hover
{
cursor: pointer; 
background: #138b0f; 
color: #000;
}
.loginbox a{
text-decoration: none;
font-size: 12px; line-height: 20px;
color: darkgrey;
text-align: center;
}

.loginbox a:hover
{
color: #ffc107;    
}

.sub{
       display: flex;
       justify-content: space-around;
       padding: 17px;
}

.sub a{
       padding: 9px 30px 9px 30px;
       border: none;
 outline: none;
 height: 25px; 
 background: #fb2525; 
 color: #fff; 
 font-size: 22px; 
 border-radius: 20px;
}

.sub a:hover{
       cursor: pointer; 
       background: #138b0f; 
       color: #000;    
}